.search {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	padding: 5px 6px;
	display: flex;
	flex-direction: row;
	align-items: center;
	&:focus-within {
		border-color: rgba(0, 0, 0, 0.5);
		transition: all 0.15s ease-in-out;
		img {
			opacity: 0.7;
		}
	}
	.icon {
		width: 20px;
		height: 20px;
		opacity: 0.5;
		margin-right: 3px;
	}
	.clear {
		width: 12px;
		height: 12px;
		margin-right: 5px;
		opacity: 0.5;
		&:hover {
			opacity: 0.9;
		}
	}
	input {
		flex: 1;
		height: 100%;
		outline: none;
		border: none;
		background-color: transparent;
		font-size: 1rem;
		&:focus::placeholder {
			opacity: 0;
		}
	}
}
